/* src/styles/Projects.css */
#projects {
  padding: 2rem;
  background-color: #F3F7EC;
}

#projects h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #006989;
}
#projects h3 {
  color: #006989;
}
#projects h5 {
  color: #006989;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust space between columns */
}

.project {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 1rem;
  padding: 1rem;
  border-radius: 16px;
  flex: 1 1 calc(25% - 2rem); /* Three columns */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.05); /* Slightly increase the size */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Slightly increase the shadow */
}

.project h3 {
  margin-top: 0;
}

.project p {
  margin-bottom: 0;
}
.icon {
  width: 40px;
  height: 40px;
  margin-left: 20px; /* Espacement entre le texte et l'icône */
}
.iconJpg {
  width: 50px;
  height: 50px;
  margin-left: 20px; /* Espacement entre le texte et l'icône */
}
.iconal {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;
}
.iconh {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 4px;
}
.marginTop{
  margin-top: 90px;
}
.marginTopp{
  margin-top: 100px;
}