/* Divider.css */

.divider {
    width: 100%;
    height: 10px; /* Ajustez la hauteur selon vos préférences */
    background-color: #F3F7EC; /* Couleur de fond */
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1); /* Ombre au bas de la ligne */
  }
  